In [1]:
#TASK NO. 3
# create a list of lenght = 10 and access 5th to 8th data.
list1= [1,2,3,4,5,6,7,8,9,10]
list1[4:8]

[5, 6, 7, 8]

In [6]:
#TASK NO.4
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2[2].append([7,8]) 
l2

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [4]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].append(70)
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [104]:
#TASK NO.5
#1 access "Mike"
#2 access 80
#3 change "Mike" to "Your name"
#4 add ML = 80 and DL = 80 inside marks

In [10]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70}}}}

In [11]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [215]:
#1 TASK NO 5 
dict1['april_batch']['student']['name']

'Mike'

In [177]:
#2 TASK NO 5
dict1['april_batch']['student']['marks']['python']

80

In [201]:
#3 TASK NO 5 
dict1['april_batch']['student']['name']='mustafa'
dict1

{'april_batch': {'student': {'name': 'mustafa',
   'marks': {'python': 80, 'maths': 70}}}}

In [14]:
#4 TASK NO 5 
dict1["april_batch"]["student"]["marks"].update({"ML":80,"DL":80})
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}