In [23]:
# TASK 10.1
# what is the usage of continue with an example
# we use continue to remove the unwanted stuff from the loop and complete the given condition.
# The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.
for i in range(1,11):
      if i == 5:
        continue
      print(i)

1
2
3
4
6
7
8
9
10

In [27]:
#TASK 10.2
# what is pass keyword, explain with example
# pass keyword does nothing but you can avoid getting an error when empty code is not allowed.
# Empty code is not allowed in loops,if else conditions,functions,Classes etcg
# we can pass on the code without executing it
x = 10
y = 20
if x < y:
  pass
else:
  print("X is not greator than y")

In [40]:
if 10<100:
  pass

In [65]:
# TASK 10.3
# using while loop print numbers from 10 to 1
# try using for loop to loop over tuples,sets and dictionaries
count = 10
while (count>0):
 print(count)
 count -= 1

10
9
8
7
6
5
4
3
2
1

In [79]:
# TASK 10.3
#  try using for loop to loop over tuples,sets and dictionaries
a={"name":"mustafa","surname":"hakimi",}
for z in a:
  print(a)

{'name': 'mustafa', 'surname': 'hakimi'}
{'name': 'mustafa', 'surname': 'hakimi'}

In [86]:
a={"name":"mustafa","surname":"hakimi",}
for x in a:
  print(a[x])

mustafa
hakimi